.block{
    width: 100%;
    scroll-margin-top: 116px;
    &--top{
        padding-top: 150px;
    }
    &--bottom{
        padding-bottom: 150px;
    }
    &--hero {
        min-height: 100svh;
        padding-top: 116px;
        display: flex;
    }
    &--small{
        padding-top: 50px;
    }

    @media (max-width: 1024px) {
        &--top { padding-top: 112px; }
        &--bottom { padding-bottom: 112px; }
    }

    @media (max-width: 767px) {
        scroll-margin-top: 78px;

        &--top { padding-top: 80px; }
        &--bottom { padding-bottom: 80px; }

        &--small {
            padding-top: 40px;
        }
    }
}
