.partners{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    &__body{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        .partners__item{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 24px 48px;
            &:not(:last-child) {
                border-right: 1px solid #E5E7E8;
            }
            img{
                max-height: 57px;
                height: 100%;
                width: 100%;
                object-fit: contain;
                max-width: 242px;
            }
        }
    }

    @media (max-width: 900px) {
        &__body {
            grid-template-columns: repeat(3, 1fr);

            .partners__item {
                padding: 20px 28px;

                &:not(:last-child) { border-right: 0; }
            }
        }
    }

    @media (max-width: 560px) {
        gap: 32px;
        text-align: center;

        &__body {
            grid-template-columns: repeat(2, 1fr);
            width: 100%;

            .partners__item { padding: 16px; }
        }
    }
}
